<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav ">
      <img class="logo-tamandua" src="/static/tamandua.png"></a> 
      <li class="nav-item active">
        <li class="nav-item dropdown">
          <div class="dropdown">
            <button class="dropbtn titulo">Sitio Tamandua</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>            
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>          
            </div>        
          </div>  
        </li>     
      <li class="nav-item boton">
        <a class="nav-link" href="#"><button type="button" class="btn btn-info">Aula Virtual</button></a>
      </li>  
      <li class="nav-item boton">
        <a class="nav-link" href="#"> <button type="button" class="btn btn-info">Foro</button></a>
      </li> 
      <li class="nav-item boton">
        <a class="nav-link" href="#"><button type="button" class="btn btn-info">Servicios</button></a>
      </li> 
      <li class="nav-item boton">
        <a class="nav-link" href="#"><button type="button" class="btn btn-info">Noticias</button></a>
      </li>           
      <li class="nav-item boton">
        <a class="nav-link" href="#"><button type="button" class="btn btn-info">Contacto</button></a>
      </li> 
       
    </ul>
  </div>
</nav>